*.pyc
__pycache__
*.class
.coverage
.coveragerc
.idea/
.ipynb_checkpoints


build/
trash/

/problog/bin/darwin/cnf2dDNNF
/problog/bin/darwin/maxsatz

sandbox/
data/
test-reports/

problog/lib/python2/
problog/lib/python3/

.DS_Store

web/cache
web/logs