
# We can’t distribute this ourselves.
/problog/bin/linux/cnf2dDNNF	export-ignore
/problog/bin/linux/lp2acyc      export-ignore
/problog/bin/windows/cnf2dDNNF.exe  export-ignore
/problog/bin/darwin/cnf2dDNNF.exe  export-ignore

# Hide some other files
.gitignore			export-ignore
.gitattributes			export-ignore

# Hide some files and directories
/xml_test/	export-ignore
/sandbox/	export-ignore
/benchmark/ export-ignore
Makefile	export-ignore
/usecases/  export-ignore
problog-gui.py export-ignore
/internal/  export-ignore